* {
    box-sizing: border-box;
}

body {
    font-family: "Tahoma";
    font-size: 16px;
    background-color: aliceblue;
    overflow: auto;
}

input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}

.container{
    width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    margin-top: 50px;
    border-bottom: 2px solid salmon;
}

.top-field{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid salmon;
    clear: both;
}

.read-button{
    margin: 30px 0px;
    display: inline-block;
}

.read-button button{
    background-color: #4CAF50;
    padding: 12px 24px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-style: none;
    border-radius: 5%;

}

.input-field{
    margin-top: 30px;
    margin-right: 0;
    display: block;
    border-style: none;
    float: right;
}

#create-form #post-button{
    float: left;
    background-color: #008CBA;
    padding: 12px 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-style: none;
    border-radius: 5%;
    margin-right: 5px;
}

#create-input{
    padding: 12px 24px;
    background-color: floralwhite;
    border-radius: 5%;
    float: right;
}

thead{
    font-size: 20px;
}

#nameHeader{
    text-align: left;
}

#name-input{
    padding: 8px 15px;
    background-color: floralwhite;
    border-radius: 5%;
}

#update-button{
    background-color: #9A36AE;
    padding: 8px 15px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-style: none;
    border-radius: 5%;
    margin-right: 5px;
}

#delete-button{
    background-color: #D39833;
    padding: 8px 15px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-style: none;
    border-radius: 5%;
    margin-right: 5px;
}