<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <title>ToDo App</title>
</head>

<body class="w-75 mx-auto my-4">

    <div class=container ng-controller="todoController">
        <h1>ToDo App</h1>
        <hr>

        <div class="create-field" style="position: relative;">
            <form class="form-inline" ng-submit="todoAdd()">
                <input type="text" class="form-control mb-2 mr-sm-2" ng-model="x.todotext" id="inlineFormInputName2"
                    placeholder="Add ToDo">
                <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>
        </div>



        <div class="row">
            <div class="col">
                <div class="" ng-repeat="x in todolist">
                    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
                </div>

                <p><button class="btn btn-warning" style="margin-top: 10px;" ng-click=remove()>Remove</button></p>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ToDo</th>
                            <th>Done?</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in doneList">
                            <td>{{item.id}}</td>
                            <td>{{item.todoText}}</td>
                            <td><input type="checkbox" ng-model="item.done" ng-if="true"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>





    </div>

    <script src="script.js"></script>
</body>

</html>