<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>ToDo App</title>
</head>

<body class="">

    <div class="container" ng-controller="todoController">
        <h1>ToDo App</h1>
        <hr>

        <div class="create-field" style="margin: 40px 0px 20px 0px">
            <form ng-submit="todoAdd()">
                <input type="text" ng-model="x.todotext" id="inlineFormInput"
                    placeholder="Add ToDo">
                <button type="submit" class="btn-submit">Add</button>
            </form>
        </div>



        <div class="row">
            <div class="col-todo">
                <div class="" ng-repeat="x in todolist">
                    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
                </div>

                <p><button class="remove-button" style="margin-top: 10px;" ng-click=remove()>Remove</button></p>
            </div>

            <hr>

            <div class="col-done">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ToDo</th>
                            <th>Done?</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in doneList">
                            <td>{{item.id}}</td>
                            <td>{{item.todoText}}</td>
                            <td><input type="checkbox" ng-model="item.done" ng-if="true"></td>
                        </tr>
                    </tbody>
                </table>
                <p><button class="remove-button-here" style="margin-top: 10px;" ng-click=addToTodo()>Remove From Here</button></p>

            </div>

        </div>





    </div>

    <script src="script.js"></script>
</body>

</html>