<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="script.js"></script>
    <title>AJAX API Tut.</title>
</head>

<body>
    <div ng-controller="AppController">
        <h1>AJAX API TUTORIAL</h1>

        <button id="get-button" ng-click="bring()">Read/Get Products</button> <!--GET METHOD-->

        <form id="create-form"> <!--POST/CREATING PRODUCT-->
            <input type="text" id="create-input" ng-model="product.name">
            <button id="post-button" ng-click="createProduct()">Create/POST</button>
        </form>

        <hr>
            
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td><input type="text" ng-value="product.name"></td>
                    <td><button id="update-button" ng-click="updateProduct(product)">Update/PUT</button></td>
                </tr>
            </tbody>
        </table>

    </div>




</body>

</html>